.ExpandBreathingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.ExpandBreathing {
  border-radius: 30px;
  height: 250px;
  width: 250px;
  animation-name: stretch;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(0.3);
    background-color: #8ec5fc;
    border-radius: 100%;
  }
  50% {
    background-color: #c850c0;
  }
  100% {
    transform: scale(1.2);
    background-color: #e0c3fc;
  }
}
